snippet qelki "Guillemot quotes"
«$1»$0
endsnippet

snippet maccmd "Apple keyboard: command button glyph" iA
⌘$0
endsnippet

snippet maccntrl "Apple keyboard: control button glyph" iA
⌃$0
endsnippet

snippet macopt "Apple keyboard: option button glyph" iA
⌥$0
endsnippet

snippet today "Date of today"
`!p import datetime; snip.rv = datetime.date.today().strftime("%Y-%m-%d")`
endsnippet

snippet todo "Template for todo"
TODO: $1 (`!p import datetime; snip.rv = datetime.date.today().strftime("%Y-%m-%d")` by `!v g:AUTHOR`)$0
endsnippet
