snippet today "Today's date"
`date +%F`
endsnippet

snippet todo "Todo template message"
TODO: $1 (`date +%F` by Stepan Zakharov)$0
endsnippet

snippet qelki "Guillemot quotes"
«$1»$0
endsnippet

snippet maccmd "Apple keyboard: command button glyph" iA
⌘$0
endsnippet

snippet maccntrl "Apple keyboard: control button glyph" iA
⌃$0
endsnippet

snippet macopt "Apple keyboard: option button glyph" iA
⌥$0
endsnippet
